$white: #ffffff;
$black: #000000;

// Blue Gray
$gray50: #f8fafc;
$gray100: #f1f5f9;
$gray200: #e2e8f0;
$gray300: #cbd5e1;
$gray400: #94a3b8;
$gray500: #64748b;
$gray600: #475569;
$gray700: #334155;
$gray800: #1e293b;
$gray900: #0f172a;

// Blue
$blue50: #eff6ff;
$blue100: #dbeafe;
$blue200: #bfdbfe;
$blue300: #93c5fd;
$blue400: #60a5fa;
$blue500: #3b82f6;
$blue600: #2563eb;
$blue700: #1d4ed8;
$blue800: #1e40af;
$blue900: #1e3a8a;

// Red
$red50: #fef2f2;
$red100: #fee2e2;
$red200: #fecaca;
$red300: #fca5a5;
$red400: #f87171;
$red500: #ef4444;
$red600: #dc2626;
$red700: #b91c1c;
$red800: #991b1b;
$red900: #7f1d1d;
